<div class="container flex flex-col items-center justify-center min-h-screen ">
    <div class="justify-center items-center ">
        <h1 class="text-1xl title">Looking for Opportunities</h1>
    </div>
    
    <div class="card">
        <h2 class="text-white">Actively Seeking Opportunities</h2>
        <p>I'm a passionate eager to contribute, learn, and grow. Actively seeking job opportunities where I can make a meaningful impact and enhance my expertise</p>
        <a 
  href="https://drive.google.com/file/d/19hRW__JCh4kxfBabSI4F4udhpErRKX5e/view?usp=sharing" 
  target="_blank" 
  rel="noopener noreferrer"
>
  <button class="btn bg-blue-950 hover:bg-white/30 hover:backdrop-blur-sm hover:border hover:border-white/70">
    <span>Download Resume</span>
  </button>
</a>
    </div>
    
</div>